
/* ============================*/
.right {
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
.doc-loader{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-loader img{
    height: 200px;
    width: 200px;
}